---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=GOOGLE_API_KEY&latlng=-23.5528373,-46.6590576
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Sao Paulo
    body:
      encoding: UTF-8
      string: "{\n   \"plus_code\" : \n   {\n      \"compound_code\" : \"C8WR+V98
        São Paulo, State of São Paulo, Brazil\",\n      \"global_code\" : \"588MC8WR+V98\"\n
        \  },\n   \"results\" : \n   [\n      {\n         \"address_components\" :
        \n         [\n            {\n               \"long_name\" : \"1937\",\n               \"short_name\"
        : \"1937\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Rua da Consolação\",\n               \"short_name\" : \"R. da Consolação\",\n
        \              \"types\" : \n               [\n                  \"route\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Consolação\",\n               \"short_name\" : \"Consolação\",\n               \"t[...]
