---
http_interactions:
- request:
    method: get
    uri: https://viacep.com.br/ws/SP/Sao%20Paulo/Pra%C3%A7a%20da%20Se/json/
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "cep": "01001-000",
            "logradouro": "Praça da Sé",
            "complemento": "lado ímpar",
            "unidade": "",
            "bairro": "Sé",
            "localidade": "São Paulo",
            "uf": "SP",
            "ibge": "3550308",
            "gia": "1004",
            "ddd": "11",
            "siafi": "7107"
          },
          {
            "cep": "01001-901",
            "logradouro": "Praça da Sé",
            "complemento": "371",
            "unidade": "Edifício Santa Lídia",
            "bairro": "Sé",
            "localidade": "São Paulo",
            "uf": "SP",
            "ibge": "3550308",
            "gia": "1004",
            "ddd": "11",
            "siafi": "7107"
          },
          {
            "cep": "01001-900",
            "logradouro": "Praça da Sé",
            "[...]
